{% extends 'base.html' %}
{% load static %}
{% block title %}
    || About Us
{% endblock title %}

{% block content %}
<div>
    <div class="row-md-auto">
        <img src="static/image/blue-aesthetic-background.jpg" alt="" class="w-100">
    </div>
</div>
<div>
    <div class="row-md-start my-5">
            <p class="text-md-start lead px-3">Dear readers, <br>
                We offer a huge collection of books from diverse categories of Fiction, Non-fiction, Biographies, History, Religion, Self-Help, etc. <br>We also offer a collection of Investments and Management, Computers, Engineering, Medical, College and School text reference books. <br>
                
                We strive for customer satisfaction by offering a user-friendly search engine, efficient payment options and seamless delivery systems. Apart from all this, we also provide great deals and discounts on our products. <br>
                
                All the Publishers, Distributors and Authors around the country are welcome to partner with us and grow the Bookswagon family. We would like to thank our customers for shopping with us. You can write to us on our e-mail id to share any suggestions or feedback you might have regarding our website or services. <br> </p>
        
    </div>
</div>
<div class="bg-dark text-light mt-3">
    <div class="row">
            <p class="text-md-start lead fw-normal m-3">Find all your favourite books one tap away. We deliver across the country so that you can enjoy reading effortlessly.</p>
            <img src="static/image/shipping.jpg" alt="" class="img-fluid w-50 ms-auto me-auto my-3"> 
    </div>
</div>
{% endblock content %}